# Задание 1

In [12]:
import PyPDF2

# Укажите путь к вашему PDF-файлу
pdf_path = 'C:\Vvedenie_v_ML_titanic.pdf'

# Открываем PDF-файл в бинарном режиме
with open(pdf_path, 'rb') as file:
    # Создаем объект для работы с PDF
    pdf_reader = PyPDF2.PdfReader(file)

    # Получаем количество страниц в PDF
    num_pages = len(pdf_reader.pages)

    # Читаем текст с каждой страницы
    for page_num in range(num_pages):
        # Получаем объект страницы
        page = pdf_reader.pages[page_num]

        # Извлекаем текст с текущей страницы
        text = page.extract_text()

        # Выводим текст в Jupyter Notebook
        print(f'Text from Page {page_num + 1}:\n{text}\n')

Text from Page 1:
1
 Работа в  Pandas  на примере задачи « Titanic »
Цели практики :
• работать с данными используя язык Python  и пакет Pandas
• делать предобработку данных
• находить простые закономерности в данных
•обучать решающие деревья
•находить наиболее важные для них признаки

Начало работы
Для того, чтобы начать работать с данными, необходимо сначала загрузить их
из файла. В данном задании мы будем работать с данными в формате CSV ,
предназначенном для хранения табличных данных: столбцы разделяются запятой,
первая строка со держит имена столбцов.

Задание №1
Загрузите датасет titanic .csv и, используя описанные выше способы ра боты с
данными, найдите ответы на вопросы:
1. Какое количество мужчин и женщин ехало на корабле? В качестве
ответа приведите два числа через пробел.
2. Какой части пассажиров удалось выжить? Посчитайте долю вы -
живших пассажиров. Ответ приведите в процентах (число в ин тервале от 0 до 100,
знак процента не нужен), округлив до двух знаков.
3. Какую долю пассажиры первого класса составляли среди всех пас -
сажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак
процента не нужен), округлив до двух знаков.
4. Какого возраста были пассажиры? Посчитайте среднее и медиа ну
возраста пассажиров. Посчитайте среднее и медиану возраста пассажиров. В
качестве ответа приведите два числа через пробел.
5. Коррелируют ли число братьев/сестер с числом родителей/детей?
Посчитайте корреляцию Пирсона между признаками SibSp  и Parch .
6. Какое самое популярное женское имя на корабле? Извлеките из

Text from Page 2:
2
 полного имени пассажира (колонка Name ) его личное имя (First Name ), что является
типичный пример того, с чем сталкивает ся специалист по анализу данных.
Ответ на каждое задание  — текстовый файл, содержащий ответ в первой
строчке  (#.txt). Обратите внимание, что отправл яемые файлы не долж ны содержать
перевод строки в конце.

Утонения  по выполнению задания :
Если ответом является нецелое число, то целую и дробную часть необходимо
разграничивать точкой, например, 0.42. При необходимости округляйте дробную
часть до двух зна ков.
Данные очень разнородные и шумные, но из них требуется извлечь
необходимую информацию , для этого п опробуйте вручную разобрать несколько
значений столбца Name и выработать правило для извлечения имен, а также
разделения их на женские и мужские.
Рекомен дуем в данном практикуме использовать библиотеки Pandas , NumPy
и SciPy , которые существенно упрощают чтение, хранение и обработку данных.

Пример загрузки данных в Pandas :
import  pandas
data = pandas . read_csv( ' titanic . csv ' , index_col='PassengerId ').
Данные будут загружены в виде DataFrame , с помощью которого можно
удобно работать с ними.
В данном случае параметр index _col=' PassengerId  ' означает, что колонка
PassengerId  задает нумерацию строк данного датафрейма.
Для того , чтобы посмотреть, что представляют из себя данные, можно
воспользоваться несколькими способами:
• более привычным с точки зрения Python  (если индекс указывается
только один, то производится выбор строк):  data  [: 10]
• воспользоваться методом датафрейма : data  . head  ( )
Один из способов доступа к столбцам датафрейма — использовать квад -
ратные скобки и название столбца:
data [ ' Pclas s ' ]

Text from Page 3:
3
 Для подсчета некоторых статистик (количества, среднее, максимум, ми -
нимум) можно также использовать методы датафрей ма:
data [ ' Pclass ' ] . value_counts ()
Более подробно со списком методов датафрейма можно познакомиться в
документации.



Text from Page 4:
4
 Задание №2

В этом задании мы вновь рассмотрим данные о пассажирах Титаника  с
применением библиотек и scikit -learn.
Будем решать н а них задачу классификации, в которой по различным
характеристикам пассажиров требуется предсказать, кто из них выжил после
крушения корабля.
Решающие деревья  относятся к классу логических методов. Их основная
идея состоит в объединении определенного коли чества простых решающих правил,
благодаря чему итоговый алгоритм является интерпретируемым. Как следует из
названия, решающее дерево представляет собой бинарное дерево, в котором каждой
вершине сопоставлено некоторое правило вида «j-й признак имеет значени е
меньше b».  В листьях этого дерева записаны числа -предсказания. Чтобы получить
ответ, нужно стартовать из корня и делать переходы либо в левое, либо в правое
поддерево в зависимости от того, выполняется правило из текущей вершины или
нет.
Одна из особенно стей решающих деревьев заключается в том, что они
позволяют получать важности всех используемых признаков. Важность признака
можно оценить на основе того, как сильно улучшился критерий качества благодаря
использованию этого признака в вершинах дерева.

1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
2. Оставьте в выборке четыре признака: класс пассажира (Pclass),  цену билета
(Fare),  возраст пассажира (Age) и его пол (Sex).
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.
5. В данных есть пропущенные значения — например, для некоторых
пассажиров неизвестен их возраст. Такие записи при чтении их в  pandas принимают
значение nan. Найдите все объекты, у которых ест ь пропущенные признаки, и
удалите их из выборки.
6. Обучите решающее дерево с параметром random_state=241  и остальными
параметрами по умолчанию (речь идет о параметрах конструктора
DecisionTreeСlassifier).
7. Вычислите важности признаков и найдите два приз нака с наибольшей

Text from Page 5:
5
 важностью. Их названия будут ответами для данной задачи (в качестве ответа
укажите названия признаков через запятую или пробел, порядок не важен).

Ответ на каждое задание — текстовый файл, содержащий ответ в первой строчке.
Обратите вни мание, что отправляемые файлы не должны содержать перевод строки
в конце.

Утонения по выполнению задания:
В библиотеке scikit -learn решающие деревья реализованы в классах
sklearn.tree.DecisionTreeСlassi ﬁer (для классификации) и
sklearn.tree.DecisionTreeRegressor (для регрессии).
Обучение модели производится с помощью функции ﬁt.
Пример использования:
import numpy as np
from sklearn . t r e e import D e c i s i o n T r e e C l a s s i f i e r
X = np . array ( [ [ 1 , 2 ] , [ 3  , 4 ] , [ 5 , 6 ] ] )
y = np . array ( [ 0 , 1 , 0 ] ) c l f = D e c i s i o n T r e e C l a s s i f i e r ( )
c l f . f i t (X, y )
В этом задании вам также потребуется находить важность признаков.
Это можно сделать, имея уже обученный классификатор:
importances = c l f . feature_importances_
Переменная importances  будет содержать массив «важностей » признаков.
Индекс в этом массиве соответствует индексу признака в данных.
Стоит обратить внимание, что данные могут содержать пропуски.
Pandas  хранит так ие значения как nan (not a number ).
Для того, чтобы проверить, является ли число nan’ом,  можно
воспользоваться функцией np.isnan.
Пример использования:
np . isnan (X)

Загрузите датасет titanic.csv и, используя описанные выше способы работы с
данными, найдите ответы на вопросы:
### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

Смотрим на данные

In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv("titanic.csv", index_col = "PassengerId")
data.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [2]:
males = data[data['Sex']=='male'].shape[0]
females = data[data['Sex'] == 'female'].shape[0]
print(f'Всего мужчин на корабле было {males}, а женщин - {females}.')

Всего мужчин на корабле было 577, а женщин - 314.

### 2.Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах , округлив до двух знаков.

In [3]:
survived = data[data['Survived'] == 1].shape[0]
all_passengers = data.shape[0]
percents_survived = (survived*100)/all_passengers
print(f'Всего выжило {round(percents_survived,2)}%')

Всего выжило 38.38%

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах, округлив до двух знаков.

In [4]:
first_class = data[data['Pclass'] == 1].shape[0]
all_passengers = data.shape[0]
percents_first_class = (first_class*100)/all_passengers
print(f'Всего количество пассажиров 1 класса было {round(percents_first_class,2)}%')

Всего количество пассажиров 1 класса было 24.24%

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [5]:
median_age = data['Age'].median()
mean_age = data['Age'].mean()
print(f'Средний возраст пассажиров был {round(mean_age)}, а медиана возраста - {median_age}')

Средний возраст пассажиров был 30, а медиана возраста - 28.0

### 5. Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [6]:
corr_Pirs = data['SibSp'].corr(data['Parch'])
print(f'Корреляция Пирсона между признаками SibSp и Parch составляет {round(corr_Pirs, 2)}')

Корреляция Пирсона между признаками SibSp и Parch составляет 0.41

### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name)

In [63]:
data_omly_females = data[data['Sex']=='female']
full_females_name = data_omly_females['Name']

def parse_first_name_female(name):
    first = name.str.extract(r"Mrs\.\s+[^(]*\((\w+)", expand=False)
    first.loc[first.isna()] = name.str.extract(r"\.\s+(\w+)", expand=False)
    return first

names_females = parse_first_name_female(full_females_name)
final = names_females.value_counts()
answer = final.index[0]
print(f'Самое популярное женское имя на корабле: {answer} (встречается {final[0]} раз)')

Самое популярное женское имя на корабле: Anna (встречается 15 раз)

# Задание 2

### Вычислите важности признаков и найдите два признака с наибольшей важностью

In [101]:
from sklearn.tree import DecisionTreeClassifier
dfr = data.copy()
df = dfr.dropna()
Y = df['Survived']
df = df.drop(['Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked', 'First_name'], axis=1)
df['Sex_bin'] = df['Sex'].apply(lambda x: 1 if x=='male' else 0)
df = df.drop(['Sex'], axis=1)
X = df
model = DecisionTreeClassifier(random_state=241)
model.fit(X, Y)
importances = model.feature_importances_
print(importances)
print(df)

print('Как видно, самые важные признаки были Возраст и Цена Билета')

[0.01793336 0.4009751  0.29762263 0.2834689 ]
             Pclass   Age     Fare  Sex_bin
PassengerId
2                 1  38.0  71.2833        0
4                 1  35.0  53.1000        0
7                 1  54.0  51.8625        1
11                3   4.0  16.7000        0
12                1  58.0  26.5500        0
...             ...   ...      ...      ...
872               1  47.0  52.5542        0
873               1  33.0   5.0000        1
880               1  56.0  83.1583        0
888               1  19.0  30.0000        0
890               1  26.0  30.0000        1

[183 rows x 4 columns]
Как видно, самые важные признаки были Возраст и Цена Билета